body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h2{
    margin: 0 0 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin: 5px 0;
}

input, select {
    border-radius: 7px;
    border: 1px solid #ddd;

    margin-bottom: 10px;
    padding: 10px;
    flex: 1;
}

button {
    font-size: 15px;
    color: #fff;
    background-color: #3077f3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;

    padding: 12px 18px;
}

button:hover {
    background-color: #3171e1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    font-size: 15px;
    color: #002f71;
    background: #d2faff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    
    display: inline;
    margin-right: 30px;
    padding: 12px 18px;
}

nav ul li:hover {
    background: #a8f5ff;
}

/* for li active state */
.li-active{
    color: white !important;
    background: #268ed3 !important;
}
.li-active:hover{
    background: #1c79b8 !important;
}



/* For the main containers */
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}


.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 80%;
    max-width: 800px;
    height: calc(100% - 55px);
    padding: 10px 20px;
}

.forLoginReg h2{
    margin: 10px 0 20px;
}

.forLoginReg{
    width: 35%;
    overflow-y: auto;
}
.forLogin{
    height: 340px;
}

@media screen and (max-width:960px){
    .forLoginReg{
        width: 65%;
    }
}

.dashboard-title {
    margin: 5px 0;
}


.content{
    height: 100%;
    height: calc(100% - 190px);
}




/* For the navigation tabs and list boxes */
.tabs{
    display: none;
    height: 100%;
}

.lists{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: calc(100% - 60px);
    overflow-y: auto;
}


.lists .info-div{
    font-size: 14px;
    color: #162872;
    background-color: #f5f5fe;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    width: calc(100% - 45px);
    padding: 15px 20px;
}

.lists .info-div h2{
    color: #f9c42d;
    -webkit-text-stroke: 1px #dcaf2d;
    margin: 0 !important;

    display: flex;
    justify-content: space-between;
}


.info-div ul{
    margin: 0;
}

.info-div ul li{
    margin-bottom: 10px;
}



/* for password field */
.password-container {
    position: relative;
    display: flex;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
}




/* custom buttons */
.control-btn-box{
    display: flex;
    gap: 1.5rem;
}

.control-btn{
    cursor: pointer;
    font-size: 15px;
}

.danger{
    background-color: #f36b4c;
}
.danger:hover{
    background-color: #de5e41;
}

/* .warning{
    background-color: #e99321;
}
.warning:hover{
    background-color: #d98415;
} */

.list-btns{
    color: #150b7e;
    background: #ebebff;
}
.list-btns:hover{
    background: #e1e1ff;
}


/*for the popup */
.popup {
    background: rgba(0, 0, 0, 0.55);
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.popup-content {
    font-size: 13px;
    background: white;
    border-radius: 15px;
    
    padding: 15px 20px;
    width: 440px;
    max-height: calc(100% - 55px);
    overflow-y: scroll;
}



/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
    padding: 10px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dadada; 
    cursor: pointer;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc; 
  }