body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;

    user-select: none;
}

h2{
    margin: 0 0 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin: 5px 0;
}

input, select {
    border-radius: 9px;
    border: 1px solid #ddd;
    outline: none;

    margin-bottom: 10px;
    padding: 10px;

    flex: 1;
}


.search-icon{
    font-size: 12px;
    margin-right: -32px;
}
.search-items{
    border-radius: 25px;
    border: 2px solid #dbdbff;
    background: transparent;

    width: 160px;
    padding: 12px 12px 12px 35px;
    margin: 0;

    transition: .25s;
}
.search-items:focus{
    border: 2px solid #8f8fff;
}


button {
    font-size: 14px;
    color: #fff;
    background-color: #3077f3;
    border: none;
    border-radius: 25px;
    
    cursor: pointer;
    transition: .3s;
    padding: 12px 18px;
}

button:hover {
    background-color: #3171e1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    font-size: 15px;
    color: #002f71;
    background: #f8f8ff;
    border: 1px solid #e2e2ff;
    border-radius: 25px;

    cursor: pointer;
    transition: .3s;
    
    display: inline;
    padding: 12px 20px;
    margin-right: 15px;
}

nav ul li:hover {
    background: #efefff;
}

/* for li active state */
.li-active{
    color: white !important;
    background: #1868cd !important;
    border: 0;
}
.li-active:hover{
    background: #0e58b5 !important;
}



/* For the main containers */
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}


.container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 80%;
    max-width: 800px;
    height: calc(100% - 55px);
    padding: 10px 20px 15px;

    display: flex;
    flex-direction: column;
    gap: 1.3rem;

}

.forLoginReg h2{
    margin: 10px 0 20px;
}

.forLoginReg{
    width: 35%;
    overflow-y: auto;
}
.forLogin{
    height: 365px;
}

@media screen and (max-width:960px){
    .forLoginReg{
        width: 65%;
    }
}

.dashboard-title {
    margin: 5px 0;
}


.content{
    height: 100%;
    height: calc(100% - 190px);
}




/* For the navigation tabs and list boxes */
.tabs{
    display: none;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.tabs .func-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lists{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: calc(100% - 61px);
    overflow-y: auto;
}


.lists .info-div{
    font-size: 14px;
    color: #162872;
    border-radius: 15px;
    background-color: #f8f8ff;
    background-image: linear-gradient(to bottom right, #f3f3ff, white);
    user-select: text;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    width: calc(100% - 45px);
    padding: 15px 20px;
}

.lists .info-div .info-title{
     display: flex;
    justify-content: space-between;
}

.lists .info-div .info-title .info-title-name{
    color: white;
    background: #0e6fff;
    font-size: 15px;
    border-radius: 20px;

    padding: 4px 12px;
}
.song-count{
    background-color: #dae3ff;
    border-radius: 20px;

    padding: 5px 13px;
    margin-left: 5px;
}


.info-div ul{
    margin: 0;
}

.info-div ul li{
    margin-bottom: 10px;
}


.not-found-text{
    display: none;
    color: #565656;
    background: #ededed;
    font-style: italic;
    border-radius: 20px;

    position: absolute;
    top: 75px;
    left: 40%;
    padding: 10px 25px;
}

#logout{
    align-self: flex-start;
}





/* for password field */
.password-container {
    position: relative;
    display: flex;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
}




/* custom buttons */
.control-btn-box{
    display: flex;
    gap: 1.5rem;
}

.control-btn{
    cursor: pointer;
    font-size: 15px;
}

.danger{
    background-color: #f36b4c;
}
.danger:hover{
    background-color: #de5e41;
}

/* .warning{
    background-color: #e99321;
}
.warning:hover{
    background-color: #d98415;
} */

.list-btns{
    color: #150b7e;
    background-color: #f8f8ff;
    border: 1px solid #e2e2ff;
}
.list-btns:hover{
    background: #efefff;
}


/*for the popup */
.popup {
    background: rgba(0, 0, 0, 0.55);
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.popup-content {
    font-size: 13px;
    background: white;
    border-radius: 20px;
    
    position: relative;
    padding: 15px 20px;
    width: 440px;
    max-height: calc(100% - 55px);
    overflow-y: scroll;
}

.close-icon{
    position: absolute;
    top: 15px;
    right: 12px;

    font-size: 16px;
    cursor: pointer;
}

.form-actions{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}



/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
    padding: 10px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dadada; 
    cursor: pointer;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc; 
  }